<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy;2016</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Contact</h4>
            </div>
            <div class="modal-body">
              <p>Aziza Health Products</p>
              <p>For all inquiries, please call Meroukshelaine Evans at +599-9-738-9162</p>
              <p>Address: S.B.N Doormanweg 22, Curacao</p>
              <p>
                <a href="mailto:contacct@azizahealth.com" target="_top">Send Mail</a>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="white2">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
